<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height , user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <center>
      {% block content %} {% endblock %} {% block script %} {% endblock %}
    </center>
    <footer>
      <center>made by jc</center>
    </footer>
  </body>
</html>
