<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height , user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div>
      <div>로고</div>
      <div>
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색" />
          <button class="btn">검색</button>
        </form>
      </div>
      <div>개인메뉴</div>
    </div>
    <center>
      {% block content %} {% endblock %} {% block script %} {% endblock %}
    </center>
    <footer>
      <center>made by jc</center>
    </footer>
  </body>
</html>
