{% extends 'layout.html' %}
<!---->
{% block content %}
<div class="main">
  <div class="login_left">왼쪽 그림</div>
  <div class="login_right">
    <div>jistagram</div>
    <form action="/accounts/login" method="POST">
      <div>
        <label for="login-email">이메일</label>
        <input id="login-email" type="email" name="email" />
      </div>
      <div>
        <label for="login-password">패스워드</label>
        <input id="login-password" type="password" name="password" />
      </div>
      <div>
        <button type="submit">로그인</button>
      </div>
    </form>
    <div>또는</div>
    <div>다른로그인</div>
    <div>계정이 없으신가요? <a href="/accounts/emailsignup">가입하기</a></div>
  </div>
</div>
{% endblock %}
<!---->
{% block sciprt %} {% endblock %}
